<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="centered">
        <h1><%= product.title %></h1>
        <hr>
        <div>
            <img src="<%= product.imgURL %>" alt="<%= product.title %>" width="200px" height="200px"/>
        </div>
        <h2>Rs. <%= product.price %></h2>
        <div><%= product.description %></div>
        <%- include('../includes/add-to-cart.ejs') %>
    </main>
<%- include('../includes/end.ejs') %>
